<!DOCTYPE HTML>
	<meta charset="utf-8">
	<title>Map-Visualization</title>
<html>
	<head>
		<!-- 引入字体style文件 -->
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,700italic,200,300,400,600,700,900">
		<!-- 引入d3.js v6版本-->
		<script src="http://d3js.org/d3.v6.min.js"></script>
		<!-- topojson用于地图绘制，是一种对地理拓扑进行编码的方式 -->
		<script src="https://d3js.org/topojson.v1.min.js"></script>

	<style>

		/* 设置各级标题style */
		body, h1, h2, h3, p {
		  margin: 0;
		  padding: 0;
		  font-family: 'Source Sans Pro', sans-serif;
		  font-size: 1em;
		  color: #333;
		  font-weight: 400;
		}

		/* 外面的灰色框框 */
		#content {
		  margin: 5px;
		  padding: 20px;
		  width: 805px;
		  border: 1px solid #ccc;
		}

		#map {
		  margin: 10px 0px 0px 0px;
		  padding: 0px;
		}

		h1, h2 {
		  line-height: 1em;
		  font-size: 1.75em;
		  font-weight: 900;
		  color: #000;
		}

		/* slider 旁边的年份 */
		h2.year {
		  margin: 10px 0px 0px 0px;
		  font-size: 1.3em;
		  font-weight: 700;
		}

		p {
		  margin: 10px 0px 0px 0px;
		}

		.states {
		  fill: none;
		  stroke: #fff;
		  stroke-linejoin: round;
		}

		input {
		  display: block;
		  width: 200px;
		  margin: 10px 0px 0px 0px;
		}

		#legend text {
		  font-size: 0.9em;
		  color: #333;
		  font-weight: 400;
		}

		/* 提示框 */
		.tooltip {
		  position: absolute;
		  padding: 7px;
		  font-size: 0.9em;
		  pointer-events: none;
		  background: #fff;
		  border: 1px solid #ccc;
		  border-radius: 4px;

		  /* 添加阴影效果 */
		  -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
		  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
		  box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
		}

		.tooltip p {
		  margin: 0;
		  padding: 0;
		}

		.tooltip table {
		  margin: 0;
		  padding: 0;
		  border-collapse: collapse;
		}

		.wide {
		  width: 140px;
		}
	</style>

</head>

<body>
	<div id="content">
		<h1>U.S. Daily Cigarette Smoking Rate, 1996-2012</h1>
		<h2 class="year"></h2>
		<div class="slider"></div>
		<div id="map"></div>
		<h1>U.S. Daily Cigarette Smoking Rate Change, 1996-2012</h1>
		<h2 id="county"></h2>
		<div id="line"></div>
		<div id="bar"></div>
	</div>

<script>
	// 设置画布大小-四周留间距
	let margin = {top: 20, right: 20, bottom: 20, left: 20};
	let width = 800 - margin.left - margin.right,
		height = 500 - margin.top - margin.bottom,
		formatPercent = d3.format(".1%");

	// 创建SVG元素并添加到map、line中,创建不同的视图并区分开
	let mapSvg = d3.select("#map").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	let lineSvg = d3.select("#line").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height / 3 + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left * 2 + "," + margin.top + ")");
	let barSvg = d3.select("#bar").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height / 3 + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	

	// Promise.all保证两个数据集都加载完毕后进行下一步操作
	Promise.all([d3.json("data.json"), d3.json("us.json")]).then( function(loadData){

		let data = loadData[0];
		let us = loadData[1];

		///////////////////////////////////////////////////////////////////////////
		//////////////////////////////// 绘制地图部分 ///////////////////////////////
		///////////////////////////////////////////////////////////////////////////	
		// 设置颜色渐变的范围
		let color = d3.scaleThreshold()
			.domain([10, 12.5, 15, 17.5, 20, 22.5, 25])
			.range(['#f1f0ee',"#f4eac2", "#eddc9a", "#fec44f", "#f4af6b", "#f69661", "#f67d5b", "#ee4e5c", "#d64652"]);

		// 定义图例的文字和颜色
		let legendText = ["", "10%", "", "15%", "", "20%", "", "25%"];
		let legendColors = ["#f4eac2", "#eddc9a", "#fec44f", "#f4af6b", "#f69661", "#f67d5b", "#ee4e5c", "#d64652"];

		// 创建一个projection通过 d3.geoAlbersUsa()（阿伯斯投影）
		// translate()到画布中心
		// 通过scale()来放大缩小
		let projection = d3.geoAlbersUsa()
			.translate([width / 2, height / 2])
			.scale(1000);

		// d3.geoPath() 可以创建路径生成器
		let path = d3.geoPath()
			.projection(projection); // 告诉路径生成器使用albersUsa投影

		// 转换 TopoJSON 为 GeoJSON 类型的数据
		let counties = topojson.feature(us, us.objects.counties).features;


		console.log(counties)


		// 给每一个城市添加数据
		counties.forEach(function(county) {
			// 其他属性信息:保存在properties中
			county.properties.years = data[+county.id]
		});

		// 画城市的边界线
		let countyShapes = mapSvg.selectAll(".county")
			.data(counties) //数据绑定
			.enter()
			.append("path") 
			.attr("class", "county")
			.attr("d", path) //绘制path
			.attr('stroke',"white")
			.attr('stroke-width',0.2);
			

		// 用作提示的工具（当鼠标放置在对应位置时显示相关信息）
		let tooltip = d3.select("body").append("div")
			.attr("class", "tooltip")
			.style("opacity", 0);

		countyShapes
			.on("mouseover", function(event, d) {

				// 设置hover效果
				d3.select(this).style('stroke-width',2)

				tooltip.transition()
					.duration(250) // 设置transition效果的速度，默认为500ms
					.style("opacity", 1);

				// 方法一：
				// tooltip.html(
				// 		d.properties.years[1996].county + ", " + d.properties.years[1996].state
				// )

				// 方法二： <table> 表格, <tr> 橫列, <td> 直行
				tooltip.html(
					"<p><b>" + d.properties.years[1996].county + ", " + d.properties.years[1996].state + "</b></p>" +
					"<table><tbody><tr><td class='wide'>Smoking rate in 1996:</td><td>" + formatPercent((d.properties.years[1996].rate)/100) + "</td></tr>" +
					"<tr><td>Smoking rate in 2012:</td><td>" + formatPercent((d.properties.years[2012].rate)/100) + "</td></tr>" +
					"<tr><td>Change:</td><td>" + formatPercent((d.properties.years[2012].rate-d.properties.years[1996].rate)/100) + "</td></tr></tbody></table>"
				)
				// 设置tooltip距离鼠标的相对位置
					.style("left", (event.pageX + 15) + "px")
					.style("top", (event.pageY - 28) + "px");
			})
			.on("mouseout", function() {
				d3.select(this).style('stroke-width',0.2);
				tooltip.transition()
					.duration(250)
					.style("opacity", 0);
			}

			);

		let states  = topojson.feature(us, us.objects.states)

		// 画州的边界线，us是所有的topojson数据，我们可以选择us.objects.states 或者 .counties/land
		mapSvg.selectAll('.states')
			.data(states.features)//数据绑定
			.enter().append("path")
			.attr("class", "states")
			.attr("d", path);

		// 在SVG中添加图例组件
		let legend = mapSvg.append("g")
			.attr("id", "legend");

		// 添加图例数字
		let legenditem = legend.selectAll(".legenditem")
			.data(d3.range(8))
			.enter()
			.append("g")
			.attr("class", "legenditem")
			.attr("transform", (d,i) => { return "translate(" + i * 31 + ",0)"; });

		// 添加图例色块，rect表示长方形组件
		legenditem.append("rect")
			.attr("x", width - 240)
			.attr("y", -7)
			.attr("width", 30)
			.attr("height", 6)
			.attr("class", "rect")
			.style("fill", (d,i) => { return legendColors[i]; });

		// 添加图例标签，text表示文字组件
		legenditem.append("text")
			.attr("x", width - 240)
			.attr("y", -10)
			.style("text-anchor", "middle")
			.text( (d,i) => {return legendText[i]; });

		// 定义时间滑块
		let slider = d3.select(".slider")
			.append("input")
			.attr("type", "range")
			.attr("min", 1996) // 起始点值
			.attr("max", 2012) // 终止点值
			.attr("step", 1) // 步长
			.on("input", function() {
				// 获取slider输入的值
				let year = this.value; 
				mapUpdate(year);
			});

		// 按年份更新，刷新滑块、文本和区域块颜色
		function mapUpdate(year){

			slider.property("value", year); // 更新slider的特殊属性value，
			d3.select(".year").text(year); // 更新slider旁边的text
			countyShapes.style("fill", d => {
				if(d.properties.years){
					// 有数据的按照rate值传给color
					return color(d.properties.years[year].rate);
				}else{
					// 没有数据的设置成白色
					return "#fff";
				}
			});

		}

		///////////////////////////////////////////////////////////////////////////
		/////////////////////////////// 绘制折线图部分 //////////////////////////////
		///////////////////////////////////////////////////////////////////////////		
		// 计算Daily Cigarette Smoking Rate均值
		const nationAveData = Object.keys(data).reduce((obj, countyNum, i) => {
			const county = data[countyNum]
			Object.keys(county).forEach((year) => {
				obj[year] = obj[year] ? obj[year] + county[year].rate : county[year].rate;
				if(i === Object.keys(data).length - 1) obj[year] = obj[year]/ (i+1);
			})
			return obj
		}, {})

		// 绘制折线图x轴、y轴
		// 创建一个辅助用的横轴比例尺，用来确定位置
		let xScale = d3.scalePoint()
                .domain(Object.keys(nationAveData))
                .range([0, width - margin.left]);
		// 绘制横轴
		const xAxis = d3.axisBottom(xScale)
		lineSvg
			.append('g')
			.attr('class', 'x-axis')
			.attr('transform', `translate(0,${ height / 3 })`)
			.call(xAxis)
		// 创建一个辅助用的比例尺，用来确定位置
		let yScale = d3.scaleLinear()
				.domain([0, 35])
				// .domain([d3.min(Object.keys(nationAveData).map(year => nationAveData[year])), 35])
                .range([height / 3, 0]);
		// 绘制横轴
		const yAxis = d3.axisLeft(yScale)
		lineSvg
			.append('g')
			.attr('class', 'y-axis')
			// .attr('transform', `translate(${  }, 0)`)
			.call(yAxis)

		// 创建一个折线路径生成器
		let lineGenerator = d3.line()
            .curve(d3.curveNatural)
		// 绘制折线
		let line = lineSvg
            .append("g")
            .selectAll() // 绑定数据并创建path元素
            .data([nationAveData])
            .enter()
            .append("path")
            .attr("d", d => lineGenerator(  // 利用刚才定义的路径生成器pathGenerator设置path的d属性
                Object.keys(d).map((year) => [xScale(year), yScale(d[year])])
			))
			.attr("fill", "none")
			.attr("stroke", "#AAAAAA")
            .attr("stroke-width", 5)
            .attr("opacity", 0.5)
		d3.select("#county").text('nation');

		// 增加单击交互
		countyShapes.on('click', function(e, d) {
			d3.select(this)
				.transition().duration(400)
				.attr('opacity', 0.5)
				.transition().duration(400)
				.attr('opacity', 1)
			d3.select("#county").text(d.properties.years[1996].county)
			const newLineData = Object.keys(d.properties.years).map((year) => d.properties.years[year].rate)
			line
				.data([newLineData])
				.attr("d", (d) => lineGenerator(  // 利用刚才定义的路径生成器pathGenerator设置path的d属性
                	d.map((rate, i) => [xScale(i + 1996), yScale(rate)])
				))
				.attr("stroke-dasharray", function() {
					pathLength = this.getTotalLength();
					return [pathLength, pathLength];
					})
				.attr("stroke-dashoffset", function() {
					pathLength = this.getTotalLength();
					return pathLength;
				})
				.transition().duration(2000)
				.attr("stroke-dashoffset", 0)
		})

		// 初始化
		mapUpdate(2000);

	});
</script>

</body>
</html>